.bmaPage
{
    background-image: url('../public/page-item-right.png') ,  url('../public/page-item-left.png') ;
    background-position: right 350px , left bottom 0px;
    background-repeat: no-repeat , no-repeat;
    background-size: 400px auto , 400px auto ;
    .staffCont
    {
        width: 100%;
        display: flex;
        align-items: center;
        row-gap: 40px;
        flex-direction: column;
        .staffs 
        {
            display: flex;
            flex-wrap: wrap;
            grid-gap:30px;
            justify-content: space-around;
            
        }
    }
}
