html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
h1 , p ,h2 , a 
{
    margin: 0px;
}
a {
  color: inherit;
  text-decoration: none;
}
.page
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 30px;
    width: 100%;
    margin-top: 80px;
}
.pageTitle
{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
button 
{
    cursor: pointer;
}
button:focus
{
    outline: none;
}
* {
  box-sizing: border-box;
}
#root
{
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
  overflow-y: hidden;
  justify-content: space-between;
}

.img
{
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.title-big-desk
{
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 96px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title-big-mob
{
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 72px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.top-title-w
{
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 24px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.top-title-b
{
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 24px;
    color: black;
}
.title-w-desk
{
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 48px;
    color: white
}
.title-b-desk
{
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 48px;
    color: black
}
.title-e-desk
{
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 36px;
    color: black
}
.text
{
    font-family: 'Quicksand';
    font-size: 20px;
    color: black;
    line-height: 35px;
}
.text-bottom 
{
    font-family: 'Quicksand';
    font-size: 14px;
    color: #707070;
    line-height: 17px;
    text-align: center;
}
.text16
{
    font-family: 'Quicksand';
    font-size: 16px;
    color: black;
    line-height: 35px;
}
.nav-text
{
    font-family: 'Quicksand';
    font-size: 16px;
    color: white;
}
.footer-text
{
    font-family: 'Quicksand';
    font-size: 16px;
    color: white;
}
.button-b-design
{
    color: white;
    font-size: 24px;
    font-family: 'Quicksand';
    background: #FA7167;
    border-radius: 50px;
    border: none;
    width: 290px;
    height: 85px;
}
*
{
    outline: 0px;
    outline: none;
}
.mt100
{
    margin-top: 100px;
}
.mt50
{
    margin-top: 50px;
}
.mt30
{
    margin-top: 30px;
}
.mt20
{
    margin-top: 20px;
}
.mt10
{
    margin-top: 10px;
}
.button-text
{
    color: white;
    font-size: 18px;
    border-radius: 50px;
    background: #FA7167;
    font-family: 'Quicksand';
    width: 220px;
    border: none;
    height: 60px;
}
.button-blue-text
{
    color: #32448A;
    font-size: 18px;
    border-radius: 50px;
    background: #B0D9F0;
    font-family: 'Quicksand';
    width: 220px;
    border: none;
    height: 60px;
}
.back 
{
    background-size: cover;
    background-repeat: no-repeat;
}

.css-yk16xz-control
{
    width: 100% !important;
    padding-left: 20px !important;
    height: 71px !important;
    border: 1px solid #C4C4C4 !important;
    box-sizing: border-box !important;
    border-radius: 20px !important; 
}
.css-g1d714-ValueContainer
{
    width: 100% !important;
    padding-left: 5px !important;
    height: 71px !important;
    box-sizing: border-box !important;
    border-radius: 20px !important; 
}
.css-yk16xz-control:focus
{
    outline: none !important;
    border:none !important;
}
.css-1pahdxg-control 
{
    border-radius: 20px !important;
    padding-left: 20px;
    box-shadow: none !important;
    min-height: 71px !important;
}
.css-1uccc91-singleValue , .css-1wa3eu0-placeholder
{
    font-family: 'Quicksand';
    font-size: 20px;
    color: black;
    line-height: 35px;
}
.css-1jx2aec-MuiFormHelperText-root
{
    display: none;
}
.css-emi4wi-MuiFormLabel-root-MuiInputLabel-root
{
    font-family: 'Quicksand' !important;
    font-size: 20px !important;
    color: gray !important;
    margin-top: -10px;
    line-height: 35px !important;
}
.css-plngxy-MuiInputBase-root-MuiOutlinedInput-root
{
    width: 100%;
    padding-left: 20px;
    height: 71px;   
    box-sizing: border-box;
    border-radius: 20px !important;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input
{
    font-family: 'Quicksand' !important;
    font-size: 20px !important;
    color: black !important;
    margin-top: -10px;
    line-height: 35px !important;
}

.css-1okebmr-indicatorSeparator
{
    display: none;
}


.MuiPagination-ul
{
    width: 100% ;
    justify-content: center ;
    font-family: "Quicksand" ;

}
.MuiPagination-ul li button
{
    background-color: #5c6eb7;
    font-size: 18px ;
    width: 27px ;
    color: white;
    height: 30px ;
    font-family: "Quicksand" ;
}
.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root:hover
{
    background-color: #7283c7 !important;
}
.Mui-selected
{
    background: #FA7167 !important;
    color: white ;
    font-family: "Quicksand" ;
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper
{
  width: 100%;
  background-color: #F6F6F6;
}
.layoutNavbarCont
{
    z-index: 1400;
}
.swiperCont 
{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.swiperCont .lang 
{
    display: flex;
    justify-content: space-around;
    width: 300px;
}
.swiperCont .lang button 
{
    font-family: "Quicksand";
    font-size: 18px;
    border: none;
    background-color: transparent;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
}
.swiperCont .links 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 29px;
    row-gap: 41px;
}
.swiperCont .links a 
{
    font-size: 16px;
    color: #000000;
    font-family: "Quicksand";
    width: 191px;
    text-align: center;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
}
.swiperCont .buttons 
{
    margin-top: 41px;
    row-gap: 19px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.swiperCont .buttons  button 
{
    height: 35px;
    width: 300px;
}









