.homepage
{
    display: flex;
    flex-direction: column;
    row-gap:80px;
    width: 100%;
    margin-top: 80px;
    //Enterance
    .enterance
    {
        display: flex;
        width: 100%;
        justify-content: space-between;
        background-image: url('../public//navbar.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0px -80px;
        @media screen and (max-width:1000px) {
            background-position: -200px -80px;
        }
        height: 950px;
        .enteranceText
        {
            display: flex;
            flex-direction: column;
            margin-top: 80px;
            margin-left: 10%;
            z-index: 2;
            .enteranceSubTitle
            {
                margin-left: 50px;
                margin-top: 0px;
            }
            a 
            {
                margin-left: 50px !important;
                margin-top: 30px;
            }
            @media screen and (max-width:1000px) {
                .titleTop
                {
                    font-size: 72px;
                }
                .enteranceSubTitle
                {
                    margin-left: 0px !important;
                }
                a 
                {
                    margin-left: 0px !important;
                }
                margin-left: 20px;
            }
        }
        .enteranceImg
        {
            position: absolute;
            right: 0;

            @media screen and (min-width:1450px) {
                height: 946px;
            }
            @media screen and (max-width:950px) {
                height: 746px;
            }
            @media screen and (max-width:750px) {
                position: absolute;
                width: auto;
                height: 446px;
                right:0;
                z-index: 1;
            }
        }
    }//Enterance

    //About Part
    .aboutPart
    {
        display: flex;
        align-items: center;
        column-gap: 7%;
        margin-top: -200px;
        @media screen and (max-width:1292px) {
            justify-content: center;
            flex-direction: column;
        }
        .aboutText
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 30px;
            width: 600px;
            margin-left: 100px;
            @media screen and (max-width:1292px) {
                width: 90%;
                margin-top: 30px;
                margin-left: 0px;
                justify-content: center;
            }
        }
        .aboutImg
        {
            @media screen and (max-width:1292px) {
                width: 100%;
                align-self: flex-start ;
                img 
                {
                    width: 350px;
                }
            }
        }
    }
    //About Part

    //PartnersPart
    .partnersPart
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        .partnersElements
        {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            row-gap: 70px;
            column-gap: 60px;
            width: 90%;
            justify-content: space-around;
            img 
            {
                transition: 0.5s;

                &:hover 
                {
                    filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.57));
                    transition: 0.5s;
                }
            }
        }
    } 
    //PartnersPart

    //Students
    .studentsPart
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        .studentsElements
        {
            display: flex;
            flex-wrap: wrap;
            row-gap: 70px;
            column-gap: 60px;
            width: 80%;
            @media screen and (max-width:1292px) {
                width: 90%;
                margin-top: 30px;
            }
            
            justify-content: space-around;
        }
    } 
    //Students
    

    //BMA PART
    .bmaPart
    {
        width: 80%;
        margin-left: 20% !important;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media screen and (max-width:1583px) {
            width: 90% !important;
            margin-left: 10% !important;
        }
        @media screen and (max-width:1416px) {
            width: 95% !important;
            margin-left: 5% !important;
        }
        .bmaText
        {
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            align-items: center;
            @media screen and (max-width:1292px) {
                width: 90%;
                margin-top: 30px;
                justify-content: center;
            }
            h2 
            {
                @media screen and (max-width:1292px) {
                    text-align: center;
                }
            }
            .bmaSubText
            {
                width: 650px;
                @media screen and (max-width:736px) {
                    width: 100% !important;
                }
            }
        }
        .bmaImg
        {
            display: flex;
            justify-content: flex-end;
            align-self: flex-end;
            @media screen and (max-width:1292px) {
                width: 100%;
                img 
                {
                    width: 350px;
                }
            }
        }
    }
    //BMA PART



    //news
    .newsPart
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        .newsElements
        {
            display: flex;
            flex-wrap: wrap;
            row-gap: 70px;
            column-gap: 60px;
            width: 80%;
            justify-content: space-around;
        }
    } 
    //news

    .buttonHome
    {
        background-color: red !important;
    }

}