.navbar 
{
    height: 80px;
    z-index: 1400;
    position: fixed;
    width: 100%;
    margin-bottom: 80px;
    display: flex;
        justify-content: space-between;
    .logo
    {
        margin-top: 7.5px;z-index: 2;
    }
    nav 
    {
        div
        {
            width: 100%;
            height: 80px;
            padding-left: 5%;
            background-image: url('../public/navbar.svg');
            background-size: cover;
            background-position: 0px 0px;
            height: 950px;
            background-repeat: no-repeat;
        }
        position: absolute;
        width: 100%;
        height: 80px;
        overflow: hidden;
    }
    .links 
    {
        width: 80%;
        z-index: 2;
        @media screen and (max-width:1500px) {
            width: 75%;
        }
        @media screen and (max-width:1300px) {
            width: 70%;
        }
        display: flex;
        justify-content: space-around;
        height: 80px;
        align-items: center;
        a
        {
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            padding-bottom: 3px;
            border-bottom: 2px solid transparent;
            transition: 0.5s;
    
            &:hover 
            {
                border-bottom: 2px solid #FA7167;
                transition: 0.5s;
            }
        }
        .dropdown
        {
            display: flex;
            flex-direction:column ;
            .mainBtn
            {
                background-color: transparent;
                border: none;
                text-align: center;
                width: auto;
                height: 25px;
                font-size: 16px;
                color: white;
                font-family: "Quicksand";
            }
            .dropdownContent
            {
                display: flex;
                flex-direction: column;
                position: absolute;
                margin-top: 25px;
                row-gap: 5px;
                background-color: #fff;
                z-index: 2;
                border: 1px solid #42539b;
                border-radius: 5px;
                overflow: hidden;
                button 
                {
                    background-color: #fff;
                    border: none;
                    color: #FA7167;
                    font-size: 16px;
                    &:hover 
                    {
                        color: #42539b;
                    }
                    font-family: "Quicksand";
                }
            }
        }
    }
    .hamburgerMenu
    {
        height: 80px;
        display: flex; 
        z-index: 2;
        align-items: center;
    }
}
