.navbar 
{
    width: 100%;
    padding-left: 5%;
    height: 80px ;
    background-image: url('../public/navbar.svg');
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links 
{
    width: 80%;
    display: flex;
    justify-content: space-around;
    a
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        padding-bottom: 3px;
        border-bottom: 2px solid transparent;
        transition: 0.5s;

        &:hover 
        {
            border-bottom: 2px solid #FA7167;
            transition: 0.5s;
        }
    }
}