.partnersPage
{
    background-image: url('../public/page-item-right.png') ,  url('../public/page-item-left.png') ;
    background-position: right 350px , left bottom 0px;
    background-repeat: no-repeat , no-repeat;
    background-size: 400px auto , 400px auto ;
    .partners
    {
        display: flex;
        flex-direction: column;
        row-gap: 115px;
        margin-top: 40px;
        @media screen and (max-width:837px) {
            .partner
            {
                
                .imgTitle
                {
                    flex-direction: column;
                    width: 100%;
                    row-gap: 20px;
                    text-align: center;
                }
                .text
                {
                    font-size: 18px;
                    width: 90%;
                }
            }   
        }
        .partner
        {
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            align-items: center;
            .imgTitle
            {
                display: flex;
                align-items: center;
                column-gap: 30px;
                align-self: flex-start;
            }
            .text
            {
                a
                {
                    color: rgb(62, 62, 207) !important;
                }
            }
        }        
    }
}